
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3 bg-success">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" class="img img-responsive img-circle" alt="Alternate Text" />
                </div>
            </div>
            <div class="caption text-center">
                <span>Thông tin</span>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Sản phẩm</td>
                        <td>Tổng tiền</td>
                        <td>Trạng thái</td>
                        <td>Shipper</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td><button class="btn btn-primary">Review</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

